[user]
	name = sky
	email = skyswalla@gmail.com
[init]
	defaultBranch = main
[gpg]
    format = ssh
[commit]
    gpgsign = true
[user]
    signingkey = ~/.ssh/id_ed25519.pub

[credential "https://git.sleeepy.dev"]
	helper = 
	helper = !tea login helper
